

#footerLeft { 
    width: 47%; 
    float: left; 
    display: block; 
    height: 50px;
    
    left: 0;
}

#footerRight {
	width: 50%;
	float: right;
	display: block;
	margin: 0%;
	right: 0;
}



#marcoDatosBasicos{
	width: 50%;
	float: right;
	display: block;
	margin: 0%;
	right: 0;
}


#escudo {
	clear: both;
	width: 50px;
	height: 85px;
	display: block;
	margin: auto;
	background: url(../imagen/escudo.jpg) no-repeat;
	background-image: url(../imagen/wall.png);
}